<mat-drawer-container>
  <mat-drawer #drawer mode="side">
    <nav>
      <mat-list>
        <a mat-list-item routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="drawer.toggle()">
          Home
        </a>
        <a mat-list-item routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="drawer.toggle()">
          About
        </a>
      </mat-list>
    </nav>
  </mat-drawer>
  <mat-drawer-content>
    <h1>{{appTitle}} is running!</h1>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
